h1,h2,p{
    margin: 0;
    padding:0
}
body{
    color:#333;
    font-family:"PT Sans",sans-serif;
    padding:50px 0
}
h1,h2,h3,h4{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
}
h2{
    font-size: 130%;
}
.invisible{
    color:rgb(206, 38, 206);
}
.container{
    width: 700px;
    margin:auto;
    padding:20px;
    text-align:center;
}
.top{
    background:hwb(0 53% 13%)
}
.bottom{
    background: #AABCCC;
}
P{
    margin-bottom: 1em;
}